@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    max-width: 1280px;
    margin: auto;
    min-height: 75vh;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
}
