@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-y: hidden;
}

main {
    max-width: 2000px;
    margin: auto 25px;
    padding: 20px;
}

.mainbody{
    max-height: 85vh;
    padding: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.mainbody::-webkit-scrollbar {
    display: none;
}


